.nav-bar {
    position: relative;
    overflow: visible;

    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

div {
    width: 100%;
    display: block;
}

.form-container {
    width: 320px;
    height: auto;

    margin: 0 auto;
}

.form-title {
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    padding: 10px 15px;

    color: white;
    background-color: #586873;
}

.form-content {
    position: relative;

    display: block;
    width: 100%;
    height: auto;

    padding: 10px 15px;
}