<html xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org">
<link>
    <meta charset="UTF-8">
    <title>Ling</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href="WEB-CONTENT/css/greeting.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 class="welcome-title">Welcome to Ling!</h1>
    <form action="#" th:action="@{/greeting}" th:object="${loginInfo}" method="post">
        <p>
            Email:<input type="text" th:field="*{email}">
        </p>
        <p>
            Password:<input type="text" th:field="*{password}">
        </p>
        <p>
            <input type="submit" value="Login" />
            <input type="reset" value="reset">
        </p>
    </form>
    <form action="#" th:action="@{/signUp}" method="get">
        <input type="submit" value="SignUp">
    </form>
</body>
</html>