<html xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org">
<link>
    <meta charset="UTF-8">
    <title>Ling</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <header>
        <h1>Welcome to Ling!</h1>
    </header>
    <form action="#" th:action="@{/signUp}" th:object="${signUpInfo}" method="post">
        <p>
            Email:<input type="text" id="inputSignUpEmail" th:field="*{email}">
        </p>
        <p>
            Password:<input type="text" th:field="*{password}">
        </p>
        <p>
            Cellphone:<input type="text" th:field="*{cellphone}">
        </p>
        <p>
            HomeSite:<input type="text" th:field="*{homeSite}">
        </p>
        <p>
            <input type="submit" value="SignUp" />
            <input type="reset" value="reset">
        </p>
    </form>
    <button id="buttonCheck">Check</button>

    <script src="WEB-CONTENT/js/signUp.js" type="text/javascript"></script>

</body>
</html>